.detail img {
    width: 100%;
    display: block;
}

.detail__name {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 700;
}

.detail__info {
    text-align: left;
    padding: 30px 20px;
    background: rgba(31,31,31);
    color: #fff;
    margin: 10px 0;
}

.detail__desc {
    padding: 10px 0;
}

.detail__desc > span:not(:first-child) {
    margin-left: 5px;
}

.detail__desc .detail__type,
.detail__desc .detail__glass {
    color: #000;
    background-color: #dddddd;
    border: 1px solid #cccc;
    padding: 2px 5px;
}

.ingredient {
    margin: 10px 0;
}

.ingredient__name {
    margin-right: 7px;
    font-weight: 700;
}

.detail__instructions {
    display: block;
    margin-top: 20px;
    line-height: 1.4;
}

@media screen and (min-width: 1024px) {
    .detail {
        width: 75%;
        padding: 30px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .detail__name {
        margin-bottom: 20px;
    }

    .detail img {
        width: 500px;
    }

    .detail__info {
        text-align: left;
        margin: 0 0 0 45px;
        padding: 30px 20px;
        background: rgba(31,31,31);
        color: #fff;
        flex: 0 0 calc(50% - 45px);
    }
}