.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding: 15px 0;
}

.not-found__text {
    font-size: 40px;
    letter-spacing: 2px;
}

.not-found__icon {
    background-image: url("../images/no-cocktails.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 15px 0 0 0;
}

@media screen and (min-width: 1024px) {
    .not-found {
        flex-direction: row;
    }

    .not-found__icon {
        width: 50px;
        height: 50px;
        margin: 0 0 0 20px;
        min-height: 300px;
    }
}