.search-results {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
}

.search-results__item {
    width: calc(25% - 30px);
    margin: 20px 15px;
    cursor: pointer;
    background: rgb(39, 39, 39);
    color: #fff;
}