.search-results {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.search-results__item {
    width: calc(50% - 10px);
    margin: 10px 5px;
    cursor: pointer;
    background: rgb(31, 31, 31);
    color: #fff;
}

@media screen and (min-width: 1024px) {
    .search-results {
        padding: 20px 10px;
    }

    .search-results__item {
        width: calc(25% - 30px);
        margin: 20px 15px;
    }
}